Source: kanotix2sidux
Section: contrib/admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: busybox-kanotix
Architecture: all
Depends: busybox-sidux
Conflicts: kanotix-terminalserver
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: checkmem-kanotix
Architecture: all
Depends: checkmem
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: cupsconfig-kanotix
Architecture: all
Depends: configure-cups
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: configure-xawtv-kanotix
Architecture: all
Depends: configure-xawtv
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: ddcxinfo-kanotix
Architecture: all
Depends: ddcxinfo-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: etcskel-kanotix
Architecture: all
Depends: etcskel-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: gprsconnect-kanotix
Architecture: all
Depends: configure-gprs
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: initscripts-kanotix-live
Architecture: all
Depends: initscripts-sidux-live
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-dsl
Architecture: all
Depends: configure-dsl
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-irc
Architecture: all
Depends: sidux-irc
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-kernelhacking
Architecture: all
Depends: sidux-kernelhacking
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-keyring
Architecture: all
Depends: sidux-keyring
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-keyrings
Architecture: all
Depends: sidux-keyrings
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-menu
Architecture: all
Depends: sidux-menu
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-modules
Architecture: all
Depends: sidux-modules
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: nxsetup-kanotix
Architecture: all
Depends: configure-freenx
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.
