Source: kanotix2sidux
Section: contrib/admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: busybox-kanotix
Architecture: all
Depends: busybox-sidux
Conflicts: kanotix-terminalserver
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: checkmem-kanotix
Architecture: all
Depends: checkmem
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: cupsconfig-kanotix
Architecture: all
Depends: configure-cups
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: configure-xawtv-kanotix
Architecture: all
Depends: configure-xawtv
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: ddcxinfo-kanotix
Architecture: all
Depends: ddcxinfo-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: etcskel-kanotix
Architecture: all
Depends: etcskel-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: gprsconnect-kanotix
Architecture: all
Depends: configure-gprs
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: initscripts-kanotix-live
Architecture: all
Depends: initscripts-sidux-live
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-dsl
Architecture: all
Depends: configure-dsl
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-irc
Architecture: all
Depends: sidux-irc
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-isdn
Architecture: all
Depends: configure-isdn
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-kernelhacking
Architecture: all
Depends: sidux-kernelhacking
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-keyring
Architecture: all
Depends: sidux-keyring
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-keyrings
Architecture: all
Depends: sidux-keyrings
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-menu
Architecture: all
Depends: sidux-menu
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-modules
Architecture: all
Depends: sidux-modules
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-ndiswrapper
Architecture: all
Depends: configure-ndiswrapper
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-screenres
Architecture: all
Depends: configure-screenres
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-scripts
Architecture: all
Depends: sidux-scripts
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-searchplugins
Architecture: all
Depends: sidux-searchplugins
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-setpassword
Architecture: all
Depends: sidux-setpassword
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-su
Architecture: all
Depends: su-me
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kanotix-udev-config
Architecture: all
Depends: udev-config-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kbdconfig-kanotix
Architecture: all
Depends: configure-keyboard
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kdeservicemenus-kanotix
Architecture: all
Depends: kdeservicemenus-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: kde-services-kanotix
Architecture: all
Depends: kde-services-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: mkdosswapfile-kanotix
Architecture: all
Depends: mkdosswapfile
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: mkpersistenthome-kanotix
Architecture: all
Depends: mkpersistenthome
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: modemlink-kanotix
Architecture: all
Depends: configure-modemlink
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: mouseconfig-kanotix
Architecture: all
Depends: configure-mouse
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: netcardconfig-kanotix
Architecture: all
Depends: configure-networkcard
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: networkconfig-kanotix
Architecture: all
Depends: networkconfig-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: nxsetup-kanotix
Architecture: all
Depends: configure-freenx
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: ppp-scripts-kanotix
Architecture: all
Depends: ppp-scripts
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: rebuildfstab-kanotix
Architecture: all
Depends: rebuildfstab
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: rootshell-kanotix
Architecture: all
Depends: rootshell
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: sambastart-kanotix
Architecture: all
Depends: sambastart-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: saveconfig-kanotix
Architecture: all
Depends: saveconfig
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: scanpartitions-kanotix
Architecture: all
Depends: scanpartitions
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

Package: smbconf-kanotix
Architecture: all
Depends: smbconf-sidux
Description: allow an easy transition between kanotix and sidux
 this is just a transitional dummy package, remove me after usage.

